:root {
    --purple: #6769FF;
    --purple-2: #6F7DFF;
    --gray-light: #F7F8FC;
    --gray-light-2: #676F8F;
    --black: #494F66;
    --green: #43B748;
    --primary-color: #EF3340;

    /*--h-header-app: 54px;  Medida recomendada*/
    --h-header-app: 64px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    font-family: Inter;
}

#progress .bar {
    background: var(--primary-color) !important;
}

#progress .spinner-icon {
    border-top-color: var(--primary-color);
    border-left-color: var(--primary-color);
}

input:focus-visible, select:focus-visible {
    outline-width: 0;
}

/*Css Components*/

/*Frame*/

.Frame {
    background: #ddd;
    min-height: 100vh;
    width: 100%;
    position: relative;
    font-family: 'Inter';
}

.FrameBrand {
    position: absolute;
    width: 154px;
    height: 28px;
    left: 72px;
    top: 100px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: bold;
    font-style: oblique;
    text-transform: uppercase;
}

.FrameTitle {
    position: absolute;
    width: 656px;
    height: 68px;
    left: 72px;
    top: 247px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 68px;
    letter-spacing: -0.6px;
    color: #FFFFFF;
}

.FrameParagraph {
    position: absolute;
    width: 656px;
    height: 40px;
    left: 72px;
    top: 354.66px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: normal;
    font-size: 28px;
    line-height: 40px;
    color: #FFFFFF;
}

/*HeaderApp*/

.HeaderApp {
    @apply py-4 px-6 md:px-0;
    background-color: var(--gray-light);
    height: var(--h-header-app);
    min-height: var(--h-header-app);
}

/*MainContent*/
.MainContent {
    @apply md:flex;
    min-height: calc(100vh - var(--h-header-app));
}

/*Billboard*/

.Billboard {
    @apply mb-10 md:mb-0;
}

.BillboardRelativeBackground {
    @apply h-full relative md:flex;
    background-color: var(--gray-light);
}

@media (min-width: 768px) {
    .BillboardRelativeBackground {
        background-color: #ECF0FF;
    }
}

.BillboardOffset {
    @apply pl-6 pt-10 pb-7;
}

.BillBoardSpacing {
    @apply px-6 pt-10 pb-7;
}

.BillboardFlex {
    @apply flex flex-nowrap overflow-hidden;
}

.BillboardThreeQuarterRatio {
    flex-shrink: 0;
    flex-basis: 71%;
    flex-grow: 1;
    max-width: 71%;
    color: var(--black);
}

.BillboardTextExtra {
    @apply uppercase text-xs font-bold mb-3 inline-block;
}

.BillboardTitle {
    @apply capitalize text-3xl mb-2;
    font-weight: normal;
    line-height: 1.5;
}

.BillboardTitleHighlighted {
    color: var(--primary-color);
}

.BillboardParagraph {
    color: var(--gray-light-2);
}

/*Icons*/
.IconVehicleInsuranceMovil {
    @apply absolute top-0 right-0;
}

.IconChecklistOutline {
    @apply p-1 rounded border border-gray-300 inline-block absolute top-0 left-0;
    height: var(--size-check-list);
    width: var(--size-check-list);
}

.IconRadioOutline {
    @apply rounded-3xl border border-gray-300 inline-block absolute top-0 left-0;
    height: var(--size-check-list);
    width: var(--size-check-list);
}

/*Formulario de contacto */
.FormContact {
    @apply px-6 md:px-0;
}

@media (min-width: 768px) {
    .FormContactWrapper {
        max-width: 288px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5rem;
    }
}

.FormContactTitle {
    @apply text-2xl mb-5;
}

.FormContactButton {
    @apply py-4 md:px-8 mt-10 w-full md:w-auto text-white uppercase rounded-xl;
    background: var(--primary-color);
}

/*Terminos y condiciones*/
.AcceptTermsAndConditions {
    @apply flex flex-nowrap cursor-pointer;
}

.TermsAndConditionsText {
    @apply text-sm;
    color: var(--gray-light-2);
}

.TermsAndConditionsLink {
    font-weight: bold;
    text-decoration: underline;
}

/*TextField*/
/*Checkbox, Radio*/
.TextFieldCheckboxContainer, .TextFieldRadioContainer {
    @apply h-full relative;
    --size-check-list: 25px;
}

.TextFieldRadioContainer {
    @apply flex items-center;
}

.TextFieldCheckbox, .TextFieldRadio {
    @apply mr-4 relative;
    visibility: hidden;
    height: var(--size-check-list);
    width: var(--size-check-list);
    z-index: 1;
}

.TextFieldCheckbox::before, .TextFieldRadio::before {
    @apply absolute top-0 left-0 bottom-0 right-0;
    content: "";
    z-index: 1;
    visibility: visible;
}

.TextFieldCheckbox:checked + .TextFieldCheckboxIcon {
    @apply border-0;
    background-color: var(--green);
    color: white;
}

.TextFieldRadio:checked + .TextFieldRadioIcon {
    border-color: var(--green);
    color: white;
}

.TextFieldRadio:checked + .TextFieldRadioIcon .TextFieldIconFilled {
    fill: var(--green);
}

.TextFieldRadio {
    @apply mr-3;
}

/*StepControl*/
.StepControlItem {
    @apply mr-4 border rounded-2xl h-6 w-6 text-white inline-flex justify-center items-center text-xs;
    color: var(--purple-2);
    border-color: var(--purple-2);
}

.StepControlItemFilled {
    @apply text-white;
    background-color: var(--purple-2);
}

/*Custom Css*/

.button-call {
    color: var(--purple);
}

/*Utils*/
.flex10 {
    flex: 0.1 0 0;
}

.flex20 {
    flex: 0.2 0 0;
}

.flex30 {
    flex: 0.3 0 0;
}

.flex40 {
    flex: 0.4 0 0;
}

.flex50 {
    flex: 0.5 0 0;
}

.flex60 {
    flex: 0.6 0 0;
}

.flex70 {
    flex: 0.7 0 0;
}

.flex80 {
    flex: 0.8 0 0;
}

.flex90 {
    flex: 0.9 0 0;
}

.flex100 {
    flex: 1 0 0;
}

@media (min-width: 768px) {
    .md\:flex10 {
        flex: 0.1 0 0;
    }

    .md\:flex20 {
        flex: 0.2 0 0;
    }

    .md\:flex30 {
        flex: 0.3 0 0;
    }

    .md\:flex40 {
        flex: 0.4 0 0;
    }

    .md\:flex50 {
        flex: 0.5 0 0;
    }

    .md\:flex60 {
        flex: 0.6 0 0;
    }

    .md\:flex70 {
        flex: 0.7 0 0;
    }

    .md\:flex80 {
        flex: 0.8 0 0;
    }

    .md\:flex90 {
        flex: 0.9 0 0;
    }

    .md\:flex100 {
        flex: 1 0 0;
    }
}

